# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# raw notes in word files, log files, Matlab autosave files
*.docx
*.log
*.asv

# temporary files generated during the build process
model/build/das3.al					
model/build/das3_al_raw.in   
model/build/das3.c
model/build/das3.h
model/build/das3_al.c
model/build/alTmp.*	     
*.mexw64
*.tmp
